:root {
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);
  --color-red: hsl(4, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);

  --fw-normal: 400;
  --fw-bold: 700;

  --fs-base: 1rem;
  --ff-roboto: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-roboto);
  font-size: var(--fs-base);
  color: var(--color-blue-800);
  background-color: var(--color-blue-700);
}

.newsletter-sign-up {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  background-color: var(--color-white);
}

.newsletter-preview-img img {
  display: block;
  width: 100%;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  padding: 2rem;
}

.heading {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: var(--fw-bold);
  line-height: 1;
}

.paragraph {
  font-weight: var(--fw-normal);
  line-height: 1.5;
}

.paragraph span {
  font-weight: var(--fw-bold);
}

.feature-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-item:before {
  content: "";
  background: url("images/icon-list.svg") no-repeat center;
  background-size: contain;
  padding: 0.75rem;
  margin-right: 0.5rem;
}

#form-sign-up {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error-display {
  color: var(--color-red);
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: var(--fw-bold);
}

#email {
  border: 1px solid var(--color-grey);
  border-radius: 0.5rem;
  padding: 1.25rem;

  font-size: 1rem;
  color: var(--color-blue-800);
}

#email:focus {
  outline: 2px solid var(--color-blue-800);
}

#email.error {
  border-color: var(--color-red);
  background-color: hsla(4, 100%, 67%, 0.1);
}

#email.error:focus {
  outline: 2px solid var(--color-red);
}

#email.error::placeholder {
  color: var(--color-red);
}

.submit-btn,
.dismiss-btn {
  padding: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-blue-800);

  color: var(--color-white);
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.submit-btn:hover,
.dismiss-btn:hover {
  background-image: linear-gradient(90deg, #ff527a, #fe6a3a);
}

.newsletter-success {
  display: none;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  padding: 2rem;
  background-color: var(--color-white);
}

.newsletter-success-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: auto 0;
}

.dismiss-btn {
  margin-top: auto;
}

.newsletter-success img {
  display: block;
  width: 64px;
  height: 64px;
}

@media (min-width: 48rem) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 5rem 2rem;
  }

  .newsletter-sign-up {
    max-width: 700px;
    min-height: auto;
    border-radius: 2rem;
  }

  .newsletter-preview-img {
    padding: 2rem 2rem 0 2rem;
  }

  .newsletter-success {
    max-width: 500px;
    min-height: auto;
    border-radius: 2rem;

    gap: 2rem;
    padding: 4rem;
  }

  .newsletter-success-content,
  .dismiss-btn {
    margin: 0;
  }
}

@media (min-width: 64rem) {
  .newsletter-sign-up {
    max-width: 900px;
    flex-direction: row-reverse;
    border-radius: 2rem;
  }

  .newsletter-preview-img {
    padding: 1.5rem 1.5rem 1.5rem 0;
    flex: 1;
  }

  .newsletter-content {
    justify-content: center;
    padding: 3rem;
    gap: 1.75rem;
    flex: 1;
  }
}
