:root {
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);
  --color-red: hsl(4, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);

  --fw-normal: 400;
  --fw-bold: 700;

  --fs-base: 1rem;
  --ff-roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: var(--color-blue-700);

  font-family: var(--ff-roboto);
  font-size: var(--fs-base);
  color: var(--color-blue-800);
}

.newsletter-sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: var(--color-white);
  border-radius: 0.5rem;
}

.newsletter-preview-img img {
  display: block;
  width: 100%;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  padding: 2rem;
}

.heading {
  font-size: 3.5rem;
  font-weight: var(--fw-bold);
}

.paragraph {
  font-weight: var(--fw-normal);
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style-image: url("images/icon-list.svg");
  list-style-position: outside;
}

.feature-item {
  margin-left: 1.5rem;
  padding-left: 0.5rem;
}

#form-sign-up {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: var(--fw-bold);
}

#email {
  border: 1px solid var(--color-grey);
  border-radius: 0.5rem;
  padding: 1.25rem;

  font-size: 1rem;
  color: var(--color-blue-800);
}

#email:focus {
  outline: 2px solid var(--color-blue-800);
}

#email.error {
  border-color: var(--color-red);
  background-color: hsla(4, 100%, 67%, 0.1);
}

#email.error:focus {
  outline: 2px solid var(--color-red);
}

#email.error::placeholder {
  color: var(--color-red);
}

.submit-btn {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-blue-800);

  color: var(--color-white);
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.submit-btn:hover {
  background-image: linear-gradient(90deg, #ff527a, #fe6a3a);
}

.newsletter-success {
  display: none;
}

@media (min-width: 48rem) {
  body {
    padding: 5rem 2rem;
  }

  .newsletter-sign-up {
    max-width: 700px;
    height: auto;
    border-radius: 2rem;
  }

  .newsletter-preview-img {
    padding: 2rem 2rem 0 2rem;
  }
}

@media (min-width: 64rem) {
  .newsletter-sign-up {
    max-width: 900px;
    height: auto;

    flex-direction: row-reverse;
    border-radius: 2rem;
  }

  .newsletter-preview-img {
    padding: 1.5rem 1.5rem 1.5rem 0;
    flex: 1;
  }

  .newsletter-content {
    justify-content: center;
    padding: 3rem;
    gap: 1.75rem;
    flex: 1;
  }
}
